/*
	base.css
*/
/* reset s */
html,body,div,p,h1,h2,h3,h4,blockquote,pre,form,fieldset,ol,ul,li,dl,dd,dt,table,tbody,thead,tfoot,tr,th,td {
	margin:0;
	padding:0
}
body {
	font:12px/1.5 "Microsoft Yahei",sans-serif;
	color:#333;
	background:#f2f3f4;
	-webkit-font-smoothing:antialiased
}
img {
	border:0
}
button {
	vertical-align:middle;
	cursor:pointer
}
input,img {
	vertical-align:middle
}
input,textarea {
	font-size:inherit;
	font-family:Tahoma,"宋体"
}
input::-ms-clear {
	display:none
}
ul,ol {
	list-style:none
}
table {
	border-collapse:collapse
}
a {
	outline:0;
	text-decoration:none
}
a:hover {
	text-decoration:underline
}
em {
	font-style:normal
}
i {
	font-style:normal;
	vertical-align:middle;
	display:inline-block;
	*zoom:1;
	*display:inline
}
fieldset {
	border:0
}
legend {
	display:none
}
h1,h2,h3,h4,h5,h6 {
	font-size:14px;
	padding:0;
	margin:0
}
.clear {
	clear:both
}
.fix {
	zoom:1
}
.fix:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	font-size:0
}
/* reset e */

/* common s */
.wraper{
	width: 980px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.db{
	display: block;
}
.mb_15{
	margin-bottom: 15px;
}
.mb_20{
	margin-bottom: 20px;
}
/* common e */
/* header s */
.header {	
	background: #37be79;
}
.header .header_wraper{
	width: 980px;
	height: 50px;
	padding-top: 10px;
	margin: auto;
	position: relative;
	box-sizing: content-box;
}
/* header e */

/* index top s */
.header_wraper .logo{
	background: url(../images/index_logo.png);
	height: 43px;
	width: 140px;
	margin-right: 25px;
}
.header_wraper .nav{
	height: 43px;
	line-height: 43px;
}
.header_wraper .nav li{
	float: left;
}
.header_wraper .nav li a{
	color: #fff;
	font-size: 14px;
	padding: 0 25px;
}
.header_wraper .header_right{
	float: right;
	padding: 6px 0;
}
.header_wraper .header_right .login_item{
	float: left;	
	border: 1px solid #fff;
	border-radius: 2px;
	margin-left: 10px;
	padding-left: 10px;
}
.header_wraper .header_right .position{
	color: #fff;
	font-size: 14px;	
}
.header_wraper .header_right .login_item a{
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	padding: 0 10px 0 30px;
	background: url(../images/index_icon.png) 10px -260px no-repeat;
}
.header_wraper .header_right .login a{
	background: url(../images/login_icon.png) 5px 3px no-repeat;
}
/* index top e */
/* bottom bar s */
.bottom_bar{
	background: #616162;
	height: 76px;
	width: 100%;
	position: fixed;
	bottom: 0;
}
.bb_wraper{
	box-sizing: border-box;
	overflow: hidden;
	zoom: 1;
	width: 980px;
	margin: auto;
	padding: 18px 160px;
}
.bb_wraper .bb_item{
	float: left;
	font-size: 14px;
	color: #fff;
}
.bb_wraper .bb_login{
	float: right;
}
.bb_wraper .bb_login a{
	display: block;
	width: 120px;
	height: 40px;
	background: #f9a24b;
	border-radius: 2px;
	text-align: center;
	line-height: 40px;
	color: #fff;
}
.bb_wraper .bb_position{
	margin-top: 8px;
	padding-left: 30px;
	background: url(../images/index_icon.png) 10px -255px no-repeat;
}
.bb_wraper .bb_position_button{
	margin-left: 30px;
	border: 1px solid #fff;
	border-radius: 2px;
	width: 130px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	display: inline-block;
}
/* bottom bar e */
/* 下拉登陆 s */
.header_wraper .login_wraper{
	position: absolute;
	right: 0;
	top: 40px;
}
.header_wraper .login_wraper .login{
	border: none;
	width: 340px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.header_wraper .login_wraper .login h2{
	height: 50px;
	left: 0;
	margin: 0;
	background: url(../images/login_down_title.png) no-repeat 65px 30px;
}
.header_wraper .login_wraper .form{
	padding: 30px;
}
.header_wraper .login_wraper .btn-form{
	margin-top: 10px;
	width: 130px;
	float: left;
}
.header_wraper .login_wraper .buttons{
	display: block;
	overflow: hidden;
	margin-bottom: 0;
}
.header_wraper .login_wraper .btn-register{
	float: right;
}
.header_wraper .login_wraper a.forget{
	float: right;
	position: relative;
	background: none;
	color: #666;
}
.login_wraper .alert{
	border-radius: 0;
	padding: 5px;
	text-align: center;
	margin-bottom: 10px;
}
.login_wraper.dropdown-menu{
	width: 342px;
}
/* 下拉登陆 e */